<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CLARIO</title>
    <link rel="stylesheet" th:href="@{/css/bar.css}"/>
</head>
<body>

<!-- 1) 사이드바 삽입 -->
<div th:replace="fragments/headerside :: sidebar"></div>

<!-- 2) 헤더(상단바) 삽입 -->
<div th:replace="fragments/headerside :: header(${memberId}, ${name}, ${user})"></div>

<!-- 3) 페이지별 컨텐츠 -->
<main th:insert="${contentFragment}"></main>

</body>
</html>
