body {
    background-color: #EBE1F5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    border-bottom: 2px solid #6A5ACD;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.data-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.data-group {
    display: flex;
    flex-direction: column;
}
.data-item {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0;
    width: 200px;
}
.data-item input[type="checkbox"] {
    margin-right: 10px;
}
button {
    display: block;
    margin: 0 auto;
    background-color: #6750A4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #594bb7;
}
