<!DOCTYPE html>
<html lang="ko" >
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CLARIO 세부내역</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/bar.css"/>
  <link rel="stylesheet" href="/css/history.css">
  <script src="/js/history.js"></script>
</head>
<body>
<!-- 사이드바 -->
<aside class="sidebar">
  <div class="logo">
    <img src="/img/ClarioLogoTextOnly.png" alt="CLARIO Logo">
  </div>
  <ul class="menu">
    <li><a class="nav-icon" href="/dashboard">🏠</a></li>
    <li><a class="nav-icon" href="/statistics">📈</a></li>
    <li><a class="nav-icon active" href="/history">☰</a></li>
    <li><a class="nav-icon" href="/card">💳</a></li>
  </ul>
</aside>

<!-- 상단바 -->
<header class="topbar">
  <div class="topbar-center" id="today-date">날짜 로딩 중...</div>
  <div class="topbar-right">
    <span id = "user-name">사용자</span>
    <button class="logout-btn" onclick="logout()">로그아웃</button>
    <button class="profile-btn" onclick="openProfile()">
      <img id ="profile-img" alt="프로필" class="profile-img" />
    </button>
  </div>
</header>
<!-- 메인 콘텐츠 -->
<main class="main">
  <div class="content">
    <!--버튼-->
    <div class="selector-area">
      <select id="selection" class="selection">
        <option value="choice">선택</option>
        <option value="income">수입</option>
        <option value="expense">소비</option>
      </select>
      <div class="dropdown-wrapper">
        <button id="toggleBtn" class="selector-box">날짜 선택</button>
        <div id="yearList" class="scroll-box" style="display: none;"></div>
        <div id="monthList" class="scroll-box" style="display: none;"></div>
      </div>

      <!-- 카테고리 -->
      <div class="dropdown-wrapper">
        <button id="toggleCategory" class="selector-box" style="display: none;">카테고리 선택</button>
        <div id="categoryList" class="scroll-box" style="display: none;"></div>
      </div>

      <!-- 카드 -->
      <div class="dropdown-wrapper">
        <button id="cardChoice" class="selector-box" style="display: none;">카드 선택</button>
        <div id="cardList" class="scroll-box" style="display: none;"></div>
      </div>
      <button id="incomeBtn" class="action-button" style="display: none;">입금</button>
      <button id="expenseBtn" class="action-button" style="display: none;">결제</button>
    </div>


    <!-- 테이블 -->
    <table id= "income-table" class="table" style="display: none">
      <thead>
      <tr>
        <th>거래 일자</th>
        <th>계좌 번호</th>
        <th>입금처</th>
        <th>금 액</th>
      </tr>
      </thead>
      <tbody id="income-body">
      </tbody>
    </table>
    <table id="expense-table" class="table">
      <thead>
      <tr>
        <th>거래 일자</th>
        <th>카테고리</th>
        <th>가맹점명</th>
        <th>금액</th>
        <th>상세페이지</th>
      </tr>
      </thead>
      <tbody id="expense-body">

      </tbody>
    </table>
    <div id="pagination" class="pagination-container"></div>
    <!-- 입금 모달 박스-->
    <div id = "incomeModal" class ="modal">
      <div class = "modal-content">
        <h3>입금</h3>
        <div class = "modal-row">
          <label>거래 일자</label>
          <input type = "date" id = "incomeDate" value =  >
        </div>
        <div class = "modal-row">
          <label>계좌이름 선택</label>
          <select id = "bankAccountSelect">
            <option></option>
          </select>
        </div>
        <div class = "modal-row">
          <label>계좌번호 선택</label>
          <select id = "bankAccountNumSelect">
            <option></option>
          </select>
        </div>
        <div class = "modal-row">
          <label>입금처</label>
          <input type = "text" id = "incomeSource" value = "" />
        </div>
        <div class = "modal-row">
          <label>거래금액</label>
          <input type = "text" id = "incomeAmount" value =" " />
        </div>
        <div class = "actions">
          <button id="saveIncomeBtn">저장</button>
          <button onclick = "closeModal('incomeModal')">닫기</button>
        </div>

      </div>
    </div>
    <!-- 결제 모달 -->
    <div id = "expenseModal" class = "modal">
      <div class = "modal-content">
        <h3>카드 결제</h3>
        <div class="modal-form">
          <div class="modal-row">
            <label>거래일자</label>
            <input type = "date" id = "expenseDate" value = "" >
          </div>
          <div class = "modal-row">
            <label>카드명</label>
            <select id = "expenseCard">
              <option></option>
            </select>
          </div>
          <div class="modal-row">
            <label>가맹점명</label>
            <input type="text" id="expenseStore" value="" />
          </div>
          <div class="modal-row">
            <label>결제 금액</label>
            <input type="text" id="expenseAmount" value="" />
          </div>
          <div class="modal-row">
            <label>카테고리</label>
            <select id="categorySelect">
              <option value="">카테고리 선택</option>
            </select>
          </div>
          <div class="actions">
            <button id="saveExpenseBtn" onclick="saveExpense()">결제</button>
            <button onclick="closeModal('expenseModal')">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <div id="detailModal" class="modal" style="display: none;">
      <div class="modal-content">
        <h4>상세보기</h4>
        <div class="modal-item"><label>카드명</label><input type="text" id="detail-card-name" readonly></div>
        <div class="modal-item"><label>카드종류</label><input type="text" id="detail-card-type" readonly></div>
        <div class="modal-item"><label>카드번호</label><input type="text" id="detail-card-number" readonly></div>
        <div class="modal-item"><label>거래일자</label><input type="text" id="detail-date" readonly></div>
        <div class="modal-item"><label>취소일자</label><input type="text" id="detail-cancel-date" readonly></div>
        <div class="modal-item"><label>거래금액</label><input type="text" id="detail-amount" readonly></div>
        <div class="modal-item"><label>가맹점명</label><input type="text" id="detail-store" readonly></div>
        <div class="modal-item"><label>카테고리</label><input type="text" id="detail-category" readonly></div>
        <div class="modal-item"><label>사업자등록번호</label><input type="text" id="detail-biznum" readonly></div>
        <div class="actions">
          <button onclick="closeModal('detailModal')">닫기</button>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  const today = new Date();
  const days = ['일', '월', '화', '수', '목', '금', '토'];

  const year    = today.getFullYear();
  const month   = String(today.getMonth() + 1).padStart(2, '0');
  const date    = String(today.getDate()).padStart(2, '0');
  const weekday = days[today.getDay()];

  const formatted = `${year}. ${month}. ${date}. (${weekday})`;

  const el = document.getElementById('currentDate');
  if (el) {
    el.textContent = formatted;
  }
</script>
</body>
</html>